{% extends "base.html" %}

{% block title %} About {% endblock %} 

{% block heading %}
About Us:
{% endblock %}

{% block content %}
    <p>
        I am a working female who needs to prepare food for the family every week. I understand the pain of meal planning.
        We do not want to repeat the same dish too often because our family can get bored. We also do not want to cook too complicated meal
        because we need to save time for work. This website is inspired by my weekly meal planning. It stores all the easy, healthy dishes that my family loves. 
        In the next iteration, we plan to build a tool to select dishes based on nutrition requirement, and auto generate a list of ingredients for grocery shopping.
        Stay tuned!
    </p>
{% endblock %}